




body {
  font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #545454;
  text-align: center;
}

header,
.header {
  padding-left: 100px;
  background-color: #c5ded7;
}
