$font-color: #555
$primary-color: #3f51b5

*
	margin: 0
	padding: 0
	box-sizing: border-box

html
	font: normal 16px sans-serif
	color: $font-color

ul
  list-style: none

a
  text-decoration: none
  opacity: 0.75
  transition: .3s opacity
  color: $primary-color

a:hover
  opacity: 1

a.btn
  border-radius: 4px
  text-transform: uppercase
  font-weight: bold
  text-align: center
  background-color: $primary-color
  opacity: 1

section
	display: flex
	flex-direction: column
	align-items: center
	padding: 100px 80px

section:not(.hero):nth-child(even)
	background-color: #f5f5f5

hr
	width: 150px
	height: 2px
	background-color: $primary-color
	border: 0
	margin-bottom: 50px

section h3.title
	text-transform: capitalize
	font: 700 32px "Open Sans", sans-serif
	margin-bottom: 35px
	text-align: center
	opacity: 0
	animation: 1s slideUp ease-out forwards

section.top-margin
	padding-top: 9em

section p
	font-size: 16px
	max-width: 775px
	line-height: 2
	padding: 0 20px
	margin-bottom: 35px
	text-align: center

@keyframes fadein
  100%
    opacity: 1

@media (max-width: 800px)
	section
		padding: 50px 20px

// Header

header
  position: absolute
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center
  padding: 35px 100px 0
  animation: 1s fadein 0.5s forwards
  opacity: 0
  z-index: 1

header a
	color: #fff

header h2
	font-family: "Quicksand", sans-serif

header nav
	display: flex
	margin-right: -15px

header.dark h2 a
	color: $primary-color

header nav .link
	margin: 0 15px

header.dark nav .link
	color: $primary-color

.site-title
	display: flex
	align-items: center

.site-title svg
	margin-right: 1em
	opacity: 0.7
	margin-top: -0.5em

.dark svg path
	fill: $primary-color

@media (max-width: 800px)
	header
		padding: 20px 50px
		flex-direction: column

	header h2
		margin-bottom: 15px

	header nav
		margin-top: 15px
		margin-right: 0

// Hero

.hero
	position: relative
	justify-content: center
	text-align: center
	min-height: 100vh
	color: #fff

.hero .background-image
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-size: cover
	z-index: -1
	background-color: #80a3db

.hero h1
	font: bold 60px "Quicksand", sans-serif
	margin-bottom: 15px
	letter-spacing: 0.02em

.hero h3
	font: normal 28px "Open Sans", sans-serif
	max-width: 800px
	margin-bottom: 54px

.hero a.btn
	color: #fff
	padding: 20px 46px

.hero a.btn:hover
	background-color: $primary-color
	animation: .3s hoverFade ease-out forwards

.hero-content-area
  opacity: 0
  margin-top: 100px
  animation: 1s slidefade 1s forwards

.hero-content-area img
	width: 15vw
	max-width: 120px

@keyframes slidefade
	100%
		opacity: 1
		margin-top: 0

@media (max-width: 800px)
	.hero
		min-height: 800px

	.hero h1
		font-size: 48px

	.hero h3
		font-size: 24px

	.hero a.btn
		padding: 15px 40px

	.hero-content-area img
		width: 15vw
		min-width: 80px

// Intro

.intro p
	font-size: 22px

p.intro-small
	font-size: 16px

.intro
	padding-bottom: 3em

p.accent
	max-width: 500px
	padding: 10px 40px 15px
	margin: 1em 2em 3em
	font-size: 16px
	background: $primary-color + 150
	border-radius: 4px

.accent span
	font-size: 26px
	display: block

@media (max-width: 800px)
	.intro p
		font-size: 19px

	p.accent
		font-size: 14px


// Workshops

.workshops > h3,
.workshops > p
	margin-top: 100px
	opacity: 0
	animation: 0.7s slideUp ease-in-out forwards

@keyframes slideUp
	100%
		margin-top: inherit
		opacity: 1

.workshops .grid li
	padding: 50px
	flex-basis: 50%
	text-align: center
	opacity: 0
	animation: 1s fadeup 0.5s ease-in forwards

@keyframes fadeup
	100%
		opacity: 1

.grid li i
		color: $primary-color
		opacity: 0.7

.workshops .grid li h4
	// font: 700 30px "Quicksand", sans-serif
	color: #555
	font-size: 20px
	margin: 25px 0 5px

.workshops .grid li h5
	font: 400 18px "Open Sans", sans-serif
	margin-bottom: 24px

.workshops a.btn
	padding: 14px 24px
	background-color: $primary-color
	color: #fff

.workshops a.btn:hover
	background-color: $primary-color
	animation: .3s hoverFade ease-out forwards

@media (max-width: 800px)
	.workshops .grid li
		flex-basis: 100%
		padding: 20px 20px 42px

	.workshops .grid li:first-of-type
		margin-bottom: 2em

// Gallery

.grid
	width: 100%
	display: flex
	flex-wrap: wrap
	justify-content: center

.gallery .grid li
	height: 350px
	padding: 20px
	background-clip: content-box
	background-size: cover
	background-position: center

.gallery .grid li.small
	flex-basis: 30%

.gallery .grid li.large
	flex-basis: 70%

@media (max-width: 1100px)
	.gallery .grid li.small,
	.gallery .grid li.large
		flex-basis: 50%

@media (max-width: 800px)
	.gallery .grid li.small,
	.gallery .grid li.large
		flex-basis: 100%

// Testimonials

.testimonials .quote
	font-size: 22px
	font-weight: 300
	line-height: 1.5
	margin: 40px 0 25px

@media (max-width)
	.testimonials .quote
		font-size: 18px
		margin: 15px 0

	.testimonials .author
		font-size: 14px

// Contact

.contact form
	display: flex
	align-items: center
	justify-content: center
	flex-wrap: wrap
	width: 60%

.contact form .btn
	padding: 18px 42px
	color: #fff

.contact form .btn:hover
	background-color: $primary-color
	animation: .3s hoverFade ease-out forwards

.contact form input
	padding: 15px
	margin-right: 30px
	font-size: 18px
	color: $font-color
	border: none
	box-shadow: 0px 0px 5px $primary-color
	flex: 1
	border-radius: 4px

@media (max-width: 1000px)
	.contact form input
		flex-basis: 100%
		margin: 0 0 20px

	.contact form .btn
		padding: 18px 30px

// Footer

footer
	display: flex
	// flex-direction: column
	align-items: center
	justify-content: space-around
	background-color: #414a4f
	color: #fff
	padding: 60px 0

footer ul
	display: flex

footer ul li
	margin-left: 16px

footer p
	font-size: 14px
	opacity: 0.6
	align-self: center

footer a
	color: #fff

@media (max-width: 800px)
	footer
		flex-direction: column

	footer p
		margin-bottom: 20px

	footer ul li
		margin: 0 8px

// Camp

.camp h4
	font: 200 30px "Quicksand", sans-serif
	font-size: 22px
	margin: 0px 0 25px
	text-align: center

.camp h5
	font-family: "Quicksand", sans-serif
	font-weight: 400
	font-size: 22px
	text-align: center
	margin-top: 1em
	margin-bottom: 0.7em
	color: $primary-color

.camp ul
	margin-bottom: 2em
	background-color: $primary-color + 50
	border-radius: 4px
	padding: 26px 12px 20px

.camp ul li
	padding: 6px 4px 6px 49px
	margin-bottom: .7em
	max-width: 600px
	background: url('/images/goal.svg') 1.5% 0% no-repeat
	color: #fff

.camp img
	max-height: 50vh
	margin-bottom: 2em

.adventure-text h5
	flex-basis: 100%

.adventure-details
	display: flex
	justify-content: space-between
	text-align: center
	background: $primary-color + 160
	border-radius: 4px
	width: 80%
	max-width: 1200px

.adventure-details--item
	flex-basis: 40%

.adventure-details--item a.btn
	margin: 0 auto
	display: block
	width: 70%
	padding: 14px 24px
	background-color: $primary-color
	color: #fff
	margin-bottom: 1em


.adventure-details--item a:hover
	background-color: $primary-color
	animation: .3s hoverFade ease-out forwards

@keyframes hoverFade
	100%
		background-color: $primary-color *2

// About
.about h4
	font-size: 22px
	margin: 0px 0 25px
	text-align: center

.bios
	display: flex
	flex-wrap: wrap
	justify-content: space-around
	margin-top: 2em

.bios > div
	flex-basis: 45%
	min-width: 300px
	max-width: 600px

.bios img
	width: 100%



// Form
.about h3,
.about p,
.registration-form h3,
.registration-form p
	opacity: 0
	margin-top: 100px
	animation: 0.7s slideUp ease-in-out forwards


.registration-form form
	max-width: 975px
	width: 90%
	display: flex
	flex-direction: column
	margin-top: 2em

.registration-form fieldset
	margin-bottom: 2em
	border: 0
	background: $primary-color + 160
	display: flex
	flex-wrap: wrap
	border-radius: 4px

.form-section-container
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: space-around
	align-items: center
	margin: 1em

.input-section
	flex-basis: 45%

.registration-form fieldset legend
	// font-family: "Quicksand", sans-serif
	font-size: 26px
	font-weight: 600
	text-align: center
	padding-bottom: 35px
	color: #555
	margin: 25px 0 5px


.registration-form form label
	display: block

.registration-form form input,
.registration-form form textarea
	border: none
	box-shadow: 0px 0px 3px $primary-color
	width: 100%
	min-width: 350px
	border-radius: 4px
	padding: 5px 10px
	margin-top: 4px
	margin-bottom: 18px

.registration-form form input[type="tel"]
	// width: 10px
	// min-width: 200px
	display: block

.registration-form form button,
.registration-form form input[type="submit"]
	padding: 10px
	background: $primary-color
	color: #fff
	border: 0
	border-radius: 4px
	width: 30%
	margin-bottom: 2em
	align-self: center

.registration-form form input[type="submit"]
	background: #5cb85c
	border: none
	box-shadow: 0 0 5px #5cb85c
	align-self: flex-end

.registration-form form button
	background: $primary-color * 1.5
	width: 30%

.registration-form form .radio-label
	text-align: center
	padding-top: 0.5em
	width: 45%
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center

.registration-form form .radio-label input
	 box-shadow: none

// .radio
// 	display: flex
// 	flex-direction: row
// 	justify-content: space-around
// 	background: #fff
// 	border-radius: 4px
// 	border: 1px solid #ccc
// 	margin-bottom: 15px
//
// .radio label
// 	margin-top: 1em

// .radio-option
// 	text-align: center
// 	display: flex
// 	flex-direction: column
// 	justify-content: center
// 	align-items: center
// 	max-width: 200px



 // textarea,
 // select,
 // input[type="text"],
 // input[type="email"],
 // input[type="search"],
 // input[type="tel"],
 // input[type="url"],
 // input[type="password"],
 // input[type="color"],
 // input[type="file"],
 // input[type="color"],
 // input[type="number"],
 // input[type="range"],
 // input[type="date"],
 // input[type="month"],
 // input[type="week"],
 // input[type="time"],
 // input[type="datetime"],
 // input[type="datetime-local"]
