html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Alegreya Sans';
  text-align: center;
  background: #E5F7FC;
}


/* Typography */

h1 {
  color: #FF9254;
  font-family: 'Alegreya';
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 48px;
}

p {
  color: #07385B;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 36px;
}

a {
  color: #118BAD;
  display: inline;
  font-style: italic;
  font-weight: 700;
  padding: 0 5px;
  text-decoration: none;
}

a:hover {
  background: #FFB454;
  color: #07385B;
}

img {
  width: 100%;
}

/* Header */

.header {
  height: 80px;
}

.header a {
  color: #FF9254;
}

.header h1 {
  display: inline-block;
  float: left;
  height: 80px;
  margin-top: 10px;
  margin-bottom: 0;
}

.header nav {
  display: inline-block;
  float: right;
  margin-top: 30px;
}

.header nav a {
  margin-left: 1em;
}

.clearfix {
  clear: both;
}


/* Feature */

.feature {
  min-height: 400px;
  background-image: url('../images/wairua-retreats-inspiration.jpg');
  background-position: center;
  background-size: 0.9%;
}

.feature p {
  color: #fff;
  text-shadow: 3px 3px 3px #1B1725;
}

.feature h2 {
  font-family: 'Alegreya';
  font-size: 6em;
  padding-top: 80px;
  color: #fff;
  text-shadow: 2px 2px 4px #1B1725;
}

.full-width-div {
  margin: 0 -9999rem 3em;
  /* add back negative margin value */
  padding: 0.25rem 9999rem;

}

/* Workshops */

.workshop {
  margin-bottom: 2em;
  padding: 1em;
  background: papayawhip;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.workshop:hover {
  background: pink;
}

.workshop button {
  background: lightblue;
}

.workshop button:hover {
  background: lightgreen;
}

.block-link {
  font-style: normal;
  margin: 0;
  padding: 0;
}

/* Camp */


/* Footer */

.footer {
  background: #07385B;
}

.footer a,
.footer p {
  color: #FF9254;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

/* form */

form {
  border: 1px solid #bbb;
  border-radius: 4px;
  padding: 1em;
}

fieldset {
  margin-top: 2em;
}

legend {
  font-size: 1.4em;
}

input, textarea {
  width: 100%;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 30.3333%;
  float: right;
  background: lightgreen;
}

input[type="submit"]:hover {
  background: green;
  color: white;
}
