body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #aaa;
  text-align: center;
}


/* form */

form {
  background: #bbb;
  padding: 1em;
}

fieldset {
  margin-top: 2em;
}

legend {
  font-size: 1.4em;
}

input, textarea {
  width: 100%;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 30.3333%;
  float: right;
  border: 1px solid lightgreen;
}
