// Intro

.intro p
	font-size: 16px

.intro
	padding-bottom: 3em

	hr
		margin-bottom: 30px

	img
		max-width: 400px
		margin-bottom: 2em

		@include atSmall
			max-width: 300px

p.accent
	padding: 5px 40px 15px
	margin: 0
	font-size: 16px
	// background: $primary-color + 160
	border-radius: 4px
	margin-bottom: 1em

.accent span
	font-size: 26px
	display: block



@include atMedium
	.intro p
		font-size: 19px

	p.accent
		font-size: 14px
