
// Workshops
.workshops > h3,
.workshops > p
	margin-top: 100px
	opacity: 0
	animation: 0.7s slideUp ease-in-out forwards

.workshop-grid
	width: 100%
	max-width: 1200px
	display: flex
	justify-content: center
	flex-wrap: wrap

	a
		display: block
		width: 30%
		min-width: 250px
		margin: 1rem

.adventure-box
	min-height: 180px
	display: flex
	flex-direction: column
	justify-content: center
	text-align: center
	background-size: cover
	padding: 20px
	background: $primary-color / 2
	color: #fff

	h3
		transition: all .5s ease-out
	 	margin: 0

	p
		margin: 0
		padding: 0
		line-height: 1.2em
		font-size: 14px
		transition: all .2s ease-out

	&:hover
		color: white
		background-position: center
		background-size: cover

		h3, p
			margin: .5em
			text-shadow: 2px 2px 2px $font-color


	&--youth:hover
		background-image: url('/images/workshop-youth.jpg')

	&--teen:hover
		background-image: url('/images/workshop-teen.jpg')

	&--create:hover
		background-image: url('/images/workshop-create.jpg')

	&--private:hover
		background-image: url('/images/workshop-private.jpg')

	// &--fiji:hover
	// 	background-image: url('/images/workshop-fiji.jpg')
	// 	span
	// 		font-size: 2em

	&--dates:hover
		background-image: url('/images/workshop-dates.jpg')

@keyframes slideUp
	100%
		margin-top: inherit
		opacity: 1

@keyframes fadeup
	100%
		opacity: 1



// .workshops a.btn
// 	padding: 14px 24px
// 	background-color: $primary-color
// 	color: #fff
//
// .workshops a.btn:hover
// 	background-color: $primary-color
// 	animation: .3s hoverFade ease-out forwards
